@import url(https://fonts.googleapis.com/css?family=Mukta);

body {
    background-color: #ccc;
    font-family: Mukta, Times, "Times New Roman", serif;
    color: #444;
}

/* The title block */
#title {
    max-width: 28em;
    margin: 2.2em auto 1.1em auto;
    padding: 1.7em;
    cursor: pointer; /* Until we click to start. */
}

#title h1 {
    font-size: 1.6em;
    line-height: 1.4em;
    /*letter-spacing: 0.2em;*/
    font-weight: normal;
    padding-bottom: 1.1em;
    border-bottom: 1px solid #321;
    text-align: left;
}
#title h2 {
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    margin: 1.1em 0 0 0;
}
#title h3 {
    font-size: 1.0em;
    font-weight: normal;
    text-align: center;
    margin: 1.1em 0 0 0;
}
#title h1, #title h2, #title h3 {
    color: rgba(33,17,0,0.9);
    /*text-shadow: rgba(255,255,255,0.5) 2px 2px 2px,
    rgba(0,0,0,0.1) -1px -1px 2px;*/
}
#title h1 span.fancy {
    font-size: 2.5em;
    line-height: 0;
    font-family: Tangerine, Palatino, Times, "Times New Roman", serif;
    font-style: italic;
    margin: 0 -0.2em;
}
#title .click_message {
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    /*position: absolute;*/
    font-size: 1.3em; /*0.9em;*/
    font-style: italic;
    text-align: center;
    color: #987;
}
#title .noscript_message {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #943;
}


#content_wrapper {
    display: none; /* Shown by Javascript */
}